<html>

  <head>
    <title>About Kahler Carpentry</title>
  </head>

  <body>
    <h1>Kahler Carpentry</h1>
    <p>Kahler Carpentry is a master of wood work. His hot-shot team of humans and Ewoks are capable of semaingly impossible tasks that will boggle the mind, impress the ladies and scare the neighbors!</p>

  </body>

</html

