<html>

  <head>
    <title>Contact - Kahler Carpentry</title>
  </head>

  <body>
    <h1>Kahler Carpentry</h1>
   
  <h2>Contact</h2>
   <ul>
    <li>Phone: 319-xxx-xxxx</li>
    <li>Email: cody@kahlerwood.com</li>
    <li>Fax: 319-xxx-xxxx</li>
   </ul>    

  </body>

</html>

